/*
 * Theme Name: Code Challenge
 * Description: Starter Theme to use with Timber
 * Author: Erik Robles
*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation */
nav {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    height: 75px;
}

@media only screen and (min-width: 900px) {
    nav ul {
        float: right;
    }
    nav {
        width: 100%;
    }
}

nav ul {
    display: inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top: 20px;
    /* margin-left: 30px; */
}

nav ul li {
    float: left;
    margin-right: 10px;
}

nav ul li a {
    display:block;
    min-width:90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
    border-radius: 4px;
}

nav ul li:hover a {
    background: #029ec7;
}

nav ul li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

nav ul li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/* Footer */

footer {
    background-color: #333;
    text-align: center;
    min-height: 100px;
}

footer p {
    color: #fff;
    padding-top: 40px!important;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Code Challenge stylings */
.thank-you {
    font-size: 18px;
    padding-left: 35px;
}

.check {
    color: #029ec7;
    font-weight: bold;
    font-size: 20px;
}

.offer {
    font-weight: 900;
    font-size: 16px;
    padding-left: 40px;

}

p span.sub-text {
    display: inline-block;
    color: #666!important;
    font-size: 14px;
    text-align: left!important;
    font-weight: normal;
    margin-left: 10px;
}

.down-arrow {
    color: #27accd;
    font-size: 25px;
    font-weight: 400;
    margin-right: 15px;
    padding-left: 40px;
    text-decoration: none!important;
}

a.download {
    color: #27accd;
    font-weight: 600;
    font-size: 16px;
}

@media only screen and (max-width: 360px) {
    .thank-you {
        font-size: 16px;
    }
    .check {
        font-size: 18px;
    }
    .offer {
        font-size: 14px;
        padding-left: 40px;
    }
    p span.sub-text { 
       font-size: 12px; 
    }
    .down-arrow {
        font-size: 20px;
        padding-left: 30px;

    }
    a.download {
        font-size: 13px;
    }
}

/* Generic Styling */
.close-holder {
    position: relative;
    cursor: pointer;
}
.close {
    position: absolute;
    top: -50px;
    right: 10px;
    font-size: 25px;
    color: #666;
    font-weight: ;
    text-align: right;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.center {
    text-align: center;
}

.col-wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    padding-bottom: 30px;
}

.left {
    text-align: right;
}

.image-holder {
    text-align: center;
    padding-top: 35px;
}

.full-image {
    min-width: 60px;
    z-index: 5;
}

.col-wrapper-2 {
    /* padding-top: 20px; */
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 65% 35%;
}

.right {
    /* position: relative; */
    background-image: url(./assets/img/rect.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 166px;
    max-width: 425px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    z-index: -2;
}


.question {
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
}

a.btn-green {
    color: #fff;
    background-color: #93b925;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    border-radius: 3px;
    text-align: right;
}

.right-col {
    padding-top: 20px;
}

.footer-image {
    width: 80%;
    margin: 0 auto;
}

.bottom-image {
    text-align: center;
    width: 100%;
    margin-bottom: -20px;
}

.custom_section {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    max-width: 150px!important;
}

.slider {
    display: flex;
}

.insurance div div label,
.loan div div label {
    font-size: 14px;
}


.insurance div div,
.loan div div {
    min-width: 135px!important;
    max-width: 153px!important;
}

@media only screen and (min-width: 1001px) {
    .container {
        width: 40%;
    }
    .a {
        text-align: right;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 65%;
    }
    .offer {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70%;
    }
}


@media only screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        width: 95%;
    }
    .b {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .offer {
        font-size: 12px;
    }
    .sub-text {
        padding-left: 40px;
        font-size: 12px;
    }
    .down-arrow {
        padding-left: 40px;
    }
    .download {
        font-size: 12px;
    }
    a.btn-green {
        font-size: 12px;
    }
    .question {
        font-size: 12px;
        padding-top: 10px;
    }
    /* .right:after {
        height: 190px;
    } */
}


