{% extends "base.twig" %}

{% block content %} 
      <div class="container">
      <div class="close-holder"><span class="close">&#9587;</span></div>
      <div class="center">
        <p class="center thank-you"><strong>¡Gracias!</strong> Aquí tienes todo<br> lo que buscabas</p>
      </div>
        <div class="col-wrapper">
            <div class="col a left">
            <div class="image-holder">
                {% include 'partials/srcset.twig' with { id: post.icon, class: 'full-image' } %}
            </div><!--image-holder end-->
            </div>
            <div class="col b right">
                <div class="center">
                    <p class="offer"><span class="check">&#10003;</span> <strong>Oferta personalizada enviada</strong>
                    <br>
                        <span class="sub-text">Volkswagen se pondrá en contacto<br>
                        contigo en breves
                        </span> 
                    </p>
                    <span class="down-arrow">&#11123;</span><a class="download" href="#"> Descargar catálogo del coche</a>
                    <div class="circle"></div>
                </div>
            </div>
        </div><!--end wrapper-->
        <div class="col-wrapper-2">
            <div class="column left-col">
                <p class="question">¿Vas a necesitar un seguro?</p>
            </div>
            <div class="column right-col">
                <a href="#" class="btn-green">Personalizar</a>
            </div>
        </div><!--end col-wrapper-2-->
            <div class="insurance slider" id="insurance"></div>
        <div class="col-wrapper-2">
            <div class="column left-col">
                <p class="question">¿Quieres financiación?</p>
            </div>
            <div class="column right-col">
                <a href="#" class="btn-green">Personalizar</a>
            </div>
        </div><!--end col-wrapper-2-->
        <div class="loan slider" id="loan"></div>
        <div class="col-wrapper-2">
            <div class="column left-col">
                <p class="question">¿Tasación por mi coche?</p>
            </div>
            <div class="column right-col">
                <a href="#" class="btn-green">Personalizar</a>
            </div>
        </div><!--end col-wrapper-2-->
        <div class="footer-image">
        <img src="{{ post.thumbnail.src }}" class="bottom-image" alt="Image for {{post.title}}" />
        </div><!--end footer image-->
        </div><!--end container-->
{% endblock %}


